body,h1,h2,h3,h4,h5,h6 {font-family: Outfit, sans-serif;}

body{
    background-color: rgb(200, 200, 200);
}

.three-column{
    padding-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;

}

.three-column > *{
    border: 0.15em solid black;
    border-radius: 15px;
}

.three-column a{
    text-decoration: none;
}

.three-column p, h2{
    padding-left: 10px;
}

.center-text-container {
    text-align: center;
}


.two-column{
    border: 0.3em solid black;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    margin: 1em;
}

.two-column p{
    font-size: 1.2em;
}

/* all images */
img{
    width: 100%;
    border-radius: 15px;
}