{% extends "layout.html" %}
{% block body %}
<div class="center-text-container">
    <h1><b>{{ results[0][7] if results else '' }}</b></h1>
</div>

<div class="three-column">
    {% for item in results %}
    <div>
        <a href="{{ url_for('plane', id=item[0]) }}">
            <img src="{{ item[6] }}" alt="{{ item[2] }}">
            <h2><b>{{ item[7] }} {{ item[2] }}</b></h2>
            <p>
                Click to view details about the {{ item[7] }} {{ item[2] }}
            </p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}